@media  (min-width:330px) and (max-width:530px){
    body{
        height: 1242px;
       
    }
    .astronaut{
        width: 430px;
        height: 679px;
     
    
    }
    .astronaut img{
       
        width: 364px;
        height: 370px;
        

        font-family: 'Mulish';
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
        text-align: center;

       
    }
    .txt h1{
        position: absolute;
        left: 55px;
        color: #B52184;
        top: 387px;
        left: 55px;

        font-family: 'Mulish';
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
    }
    .txt p{
        width: 310px;
        height: 14px;
        top: 432px;
        left: 53px;

        position: absolute;
        font-family: 'Mulish';
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;

    color: #312D64;
    }
    .rectagem img{
        width: 58px;
        height: 105px;
        top: 500px;
        left: 186px;
        position: absolute;
    }
    .vector img{
        width: 29px;
        height: 45px;
        top: 530px;
        left: 200px;
        position: absolute;
    }
    #cards{
        margin: auto;
        width: 430px;
        height: 1242px;
        border: 1px solid;
        background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
       
    }
    #cards .card{
        width: 352px;
        height: 337px;
        
        margin-left: 32px;
        margin-top: 52px;

        background: #FFFFFF;
        box-shadow: 0px 3.31077px 13.2431px rgba(0, 0, 0, 0.25);
        border-radius: 19px;

    }
    #cards .card img{
        margin-top: 15px;
        margin-left: 26px;
    }
    .card h3{
        font-family: 'Mulish';
    
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
        margin-top: 0;
        margin-left: 32px;
        color: #B52184;
    }
    
    .card p{
        width: 265px;
        height: 131px;
        margin-left: 26px;
        color: #312D64;
        font-family: 'Mulish';
        font-weight: 600;
        font-size: 15px;
      text-align: center;
     
     
    }
    .stars{
        display: none;
    }
}



@media (min-width:980px) and (max-width:1440px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* grup astronaut*/
body{
    width: 1440px;
    height: 2101px;
}

.astronaut{
   
    width: 1440px;
    height: 836px;
}
.astronaut img{
    position: absolute;
    width:720px ;
    height: 732px;
    left: 691px;
}
.txt h1{
    position: absolute;
    width: 554px;
    height: 73px;
    left: 109px;
    top: 312px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 58.287px;
    line-height: 73px;

    color: #B52184;
}
.txt p{
    width: 530px;
    height: 23px;

    position: absolute;
    left: 109px;
    top: 393px;

    font-family: 'Mulish';
    font-weight: 600;
    font-size: 32px;
    color: #312D64;
}
.rectagem img{

    position: absolute;
    width: 58px;
    height: 105px;
    top:595px;
    left: 109px;
}
.vector img{
    position: absolute;
    width: 30px;
    height: 45px;
    top: 625px;
    left: 123px;
}
#cards{
    display: grid;
    grid-template-areas: "A B C";

    width:100%;
    height: 100%;
    padding: 5.3rem 3.9rem 5.5rem;
    top: 836px;
    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
    gap: 4.9rem;
} 

/* card moon*/

#cards .card{
    background: white;
    padding: 2.6rem;
    border-radius: 2rem;
}
#cards .card img{
    width: 8rem;
    margin-bottom: 3.3rem;
  }

  #cards .card .card-text {
    width: 300px;
    font-family: Mulish;
    font-weight: 600;
    font-size: 20px;
  }
  .card h3{
  padding-bottom: 24px;
    font-family: 'Mulish';
    font-weight: 900;
    font-size: 35.3022px;
    line-height: 44px;

    color: #B52184;
  }
  .card p{
    color: #312D64;
  }

  /*form*/

form{
    width: 1440px;
    height: 612px;
    top: 1412px;
    
}

.contat h2{
    margin-top: 95px;
    margin-left: 109px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 53px;

    color: #B52184;
}
.hidden-form,fieldset {

    border: none;
  }
  .input-wapper input,
    .input-wapper {
    border: none;
}
 #name{
    display: flex;
    padding: 12px 16px 12px 14px;
    gap: 12px;
    width: 592px;
    height: 48px;
    margin-left: 112px;
    margin-top: 30px;
    

    border: 1.5px solid #312D64;
    border-radius: 16px;
    
}
#name::placeholder{
    text-align: center;
    margin: 3.7px auto;
}
#email::placeholder{
    text-align: center;
    margin: 3.7px auto;
}

.input-wapper{
    position: relative;
}
 .input-wapper .vector1{
    position: absolute;
    margin-left:9.5%;
    top:27%;
    
}

.input-wapper .vector2{
   position: absolute;
    margin-left:9.5%;
    top:29%;
   

   
}
 #email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px 12px 14px;
    gap: 12px;

    
    width: 592px;
    height: 48px;
    margin-left: 112px;
    margin-top: 30px;

    border: 1.5px solid #312D64;
    border-radius: 16px;

 }
 textarea{
        display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px 16px;
    gap: 10px;


    width: 592px;
    height: 126px;
    margin-left: 112px;
    margin-top: 30px;

    border: 1.5px solid #312D64;
    border-radius: 16px;
 }
 .stars {
    position: absolute;
    width: 644px;
    height: 612px;
    margin-left: 796px;
    top:1654px;
    display: block;
    
 }
 button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;


    width: 151px;
    height: 45px;
    margin-left: 112px;
    margin-top: 10.5px;

    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
    border-radius: 16px;

    color: #FFFFFF;

    font-family: 'Mulish';
    cursor: pointer;
 }
 button:hover{
    background: #19175c;
    transition:  1.55 all ease;
 }
 
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    width: 1440px;
    height: 78px;
    margin-left: 0px;
    top: 2023px;

    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
    color: #FFFFFF;
}

.input-wapper  input::placeholder{
    position: absolute;
    left: 50px;
    align-items: center;
    justify-content: center;
}


}



